@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    /* border: 2px solid black;*/
    border-radius: 12px; 
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgb(113, 115, 118, 0.5);
    color: green;
}
.row{
    margin: 8px 0;
}
.row input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    /* border: 2px solid black;
    border-radius: 12px; */
    color: white;
    background-color: transparent;
}
.calculator{
   
    border: 1px solid black;
    padding: 20px;
    border-radius: 16px;
    background: linear-gradient(45deg, #0a0a0a, #314452);


}


