@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #0B192C;
}
main{
    background-color: #fff;
    /* width: 600px; */
    width: 40%;
    height: 330px;
    margin: auto;
    margin-top: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
main h1{
    margin-left: 30px;
    padding-top: 20px;
    font-size: 32px;
    color: #0B192C;
}
main p{
    color: #333333;
    width: 80%;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;
}
#textbox{
    width: 85%;
    height: 50px;
    margin-left: 30px;
    font-size: 17px;
    padding: 0 20px;
    outline: none;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    margin-top: 30px;
}
#checkerBtn{
    width: 50%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-left: 140px;
    margin-top: 40px;
    background-color: #1b304e;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 500;
    transition: 0.5s;
}
#checkerBtn:hover{
    cursor: pointer;
    background-color: #091424;
}
.correct{
    color: rgb(8, 175, 8);
}
.wrong{
    color: rgb(218, 20, 20);
}
.message{
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: 500;
}